/* base styles */
* {
  /* box sizing */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* main colors */
  color: #eeeeee;
  /* font */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(120deg, #1ca4ff 60%, #05d1ff 60%);
}
